<h2>{% trans from "interface" %}help_question_how_define_behavior{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_how_define_behavior{% endtrans %}</p>

<h2>{% trans from "interface" %}help_question_how_to_be_objective{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_how_to_be_objective{% endtrans %}</p>

<h2>{% trans from "interface" %}help_question_how_to_be_clear{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_how_to_be_clear{% endtrans %}</p>

<h2>{% trans from "interface" %}help_question_what_is_the_place{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_what_is_the_place{% endtrans %}</p>
