<a href="#" class="button-deactive">{% trans from "interface" %}new_baseline{% endtrans %}</a>

<a href="#" class="button-deactive">{% trans from "interface" %}new_function{% endtrans %}</a>

<a href="#" class="button-deactive">{% trans from "interface" %}new_intervention{% endtrans %}</a>