<a href="#" class="button-deactive" title="{% trans from "interface" %}new_baseline{% endtrans %} {% trans from "interface" %}disable{% endtrans %}">{% trans from "interface" %}new_baseline{% endtrans %}</a>

<a href="{{ path('child_behavior_assessment_function_new', { 'childBehaviorAssessmentId' : id }) }}" class="button-active"
   title="{% trans from "interface" %}new_function{% endtrans %} ">{% trans from "interface" %}new_function{% endtrans %}</a>

<a href="#" class="button-deactive" title="{% trans from "interface" %}new_intervention{% endtrans %} {% trans from "interface" %}disabled{% endtrans %}">{% trans from "interface" %}new_intervention{% endtrans %}</a>