{% extends '::base_private.html.twig' %}

{% block breadcrumbs %}
    {{ render_breadcrumbs() }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/vendor/highcharts/4.0.1/highcharts.js') }}"></script>
    <script src="{{ asset('public/js/vendor/highcharts/4.0.1/exporting.js') }}"></script>

    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% endblock %}

{% block body %}
    <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
{% endblock %}
