<h2>{% trans from "interface" %}help_question_what_is_an_intervention{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_question_what_is_an_intervention{% endtrans %}</p>

<h2>{% trans from "interface" %}help_question_what_are_intervention_strategies{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_what_are_intervention_strategies_first{% endtrans %}<br>
{% trans from "interface" %}help_answer_what_are_intervention_strategies_for_instance{% endtrans %}<br>
    {% trans from "interface" %}help_answer_what_are_intervention_token_one{% endtrans %}<br>
    {% trans from "interface" %}help_answer_what_are_intervention_token_two{% endtrans %}<br>
    {% trans from "interface" %}help_answer_what_are_intervention_token_three{% endtrans %}<br>
</p>