<h2>Where are my intervention strategies?</h2>
<p>In the interventions following the first, the strategies are inherited from the previous settings.
    Strategies have to be mantained the same in order to estimate if they had an effect on the behaviour.
</p>
