<div id="Footer">
    <div class="Text">
        {% trans from "interface" %}eu_sentence_first{% endtrans %}</br>
        {% trans from "interface" %}eu_sentence_second{% endtrans %}</br>
        {% trans from "interface" %}eu_sentence_third{% endtrans %}
    </div>

    <div class="Logo">
        <img src="{{ asset('public/image/europe-logo.png') }}" alt="Lifelong Learning Programme" />
    </div>
    <div class="clear"></div>
</div>

<div id="FooterCopy">
    <footer><a href="https://app.whaamproject.eu", target="_blank">{% trans from "interface" %}whaam_project{% endtrans %}</a> | <a href="https://app.whaamproject.eu/en/contact.php" target="_blank">{% trans from "interface" %}contact_us{% endtrans %}</a> | <a href="https://app.whaamproject.eu/WHAAMapp_Access_Privacy_Policy.html" target="_blank">{% trans from "interface" %}privacy_policy{% endtrans %}</a></footer>
</div>
