<h2>{% trans from "interface" %}help_question_how_identify_behaviour_function{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_how_identify_behaviour_function{% endtrans %}</p>

<h2>{% trans from "interface" %}help_question_what_possible_behaviour_function{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_what_possible_behaviour_function{% endtrans %}</p>

<p><i>{% trans from "interface" %}help_answer_function_escape{% endtrans %}</i></p>
<p>{% trans from "interface" %}help_answer_function_escape_description{% endtrans %}</br>
    {% trans from "interface" %}help_answer_function_escape_task_description{% endtrans %}</p>

<p><i>{% trans from "interface" %}help_answer_function_tangible_item{% endtrans %}</i></p>
<p>{% trans from "interface" %}help_answer_function_tangible_item_description{% endtrans %}
</p>

<p><i>{% trans from "interface" %}help_answer_function_sensory_item{% endtrans %}</i></p>
<p>{% trans from "interface" %}help_answer_function_sensory_item_description{% endtrans %}
</p>

<p><i>{% trans from "interface" %}help_answer_function_social_attention_item{% endtrans %}</i></p>
<p>{% trans from "interface" %}help_answer_function_social_attention_item_description{% endtrans %}
</p>

<h2>{% trans from "interface" %}help_question_function_note{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_function_note{% endtrans %}</p>
