<html>
    <head></head>
    <body>
        <p>{% trans from "email_forgot_password" %}hello{% endtrans %} {{ user.getSurnameNameOrUsername }},</p>
        <p>{% trans from "email_forgot_password" %}reset_sentence{% endtrans %}</p>

        <p><a href="{{ url('user_reset_password', {'emailToken': user.emailToken } ) }}" target="_blank">
                {{ url('user_reset_password', {'emailToken': user.emailToken } ) }}
            </a>
        </p>

        <p>{% trans from "email_forgot_password" %}any_questions_sentence{% endtrans %}
            <a href="https://whaam.pa.itd.cnr.it/app" target="_blank">https://whaam.pa.itd.cnr.it/app</a>
        </p>

        <p>{% trans from "email_forgot_password" %}signature_sentence{% endtrans %}</p>
    </body>
</html>