<h2>{% trans from "interface" %}help_question_what_useful_for{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_what_referrals{% endtrans %}</p>
<h2>{% trans from "interface" %}help_question_who_access_referrals{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_who_access_info{% endtrans %}</p>