<h2>{% trans from "interface" %}help_question_what_diagnosis_data_insert{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_what_diagnosis_data_insert{% endtrans %}</p>
<h2>{% trans from "interface" %}help_question_why_diagnosis_data{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_why_diagnosis_data{% endtrans %}</p>
<h2>{% trans from "interface" %}help_question_people_access_diagnosis{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_people_access_diagnosis{% endtrans %}</p>