<h2>{% trans from "interface" %}help_question_why_specify_role{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_why_specify_role{% endtrans %}</p>
<h2>{% trans from "interface" %}help_question_is_global_role{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_is_global_role{% endtrans %}</p>
<h2>{% trans from "interface" %}help_question_invite_someone_else{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_invite_someone_else{% endtrans %}</p>