{% trans from "flash_messages" %}warning{% endtrans %} {% trans from "flash_messages" %}child_network_role_missing.warning{% endtrans %}
<a href="{{ path('child_user_edit', {'childSlug': child.slug } ) }}">
    {% trans from "interface" %}edit_your_role{% endtrans %}
</a>