<h2>{% trans from "interface" %}help_question_what_child_insert{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_what_child_insert{% endtrans %}</p>
<h2>{% trans from "interface" %}help_question_who_access_child_info{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_who_access_child_info{% endtrans %}</p>