<form action="{{ form.vars.action }}" method="post" novalidate="true" {{ form_enctype(form) }}>
    {{ form_row(form.nickname) }}

    {{ include('WHAAMPrivateApplicationChildBundle:Child:baseForm.html.twig', { 'form': form }) }}

</form>
