<h2>{% trans from "interface" %}help_question_what_invitation_means{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_what_invitation_means{% endtrans %}</p>

<h2>{% trans from "interface" %}help_question_what_people_can_do{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_what_people_can_do{% endtrans %}</p>

<h2>{% trans from "interface" %}help_no_abuses{% endtrans %}</h2>
<p>{% trans from "interface" %}help_no_abuses_info{% endtrans %}</p>