<ul id="menu">
    <li><a href="{{ path('children_list') }}">{% trans from "interface" %}my_children{% endtrans %}</a></li>
    <li>{% trans from "interface" %}case_data{% endtrans %}</li>
    <li>{% trans from "interface" %}behaviours{% endtrans %}</li>
    <li>{% trans from "interface" %}assessment{% endtrans %}</li>
    <li>{% trans from "interface" %}invitation{% endtrans %}</li>
</ul>