<ul id="menu">
    <li><a href="{{ path('children_list') }}">{% trans from "interface" %}my_children{% endtrans %}</a></li>
    <li><a href="{{ path('case_data_list', {'childSlug': child.slug}) }}">{% trans from "interface" %}case_data{% endtrans %}</a></li>
    <li><a href="{{ path('behaviors_list', {'childSlug': child.slug}) }}">{% trans from "interface" %}behaviours{% endtrans %}</a></li>
    <li>{% trans from "interface" %}assessment{% endtrans %}</li>
    <li><a href="{{ path('invitation', {'childSlug': child.slug}) }}">{% trans from "interface" %}invitation{% endtrans %}</a></li>
</ul>