<h2>{% trans from "interface" %}help_question_why_medication_data{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_why_medication_data{% endtrans %}</p>
<h2>{% trans from "interface" %}help_question_who_access_data{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_who_access_data{% endtrans %}</p>