<h2>{% trans from "interface" %}help_question_what_is_a_baseline{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_what_is_a_baseline{% endtrans %}</p>

<h2>{% trans from "interface" %}help_question_what_data_useful_for{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_what_data_useful_for{% endtrans %}</p>

<h2>{% trans from "interface" %}help_question_why_observation_type{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_why_observation_type{% endtrans %}</p>

<h2>{% trans from "interface" %}help_question_how_data_are_collected{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_how_data_are_collected{% endtrans %}</p>