<h2>Where are the other baseline settings?</h2>
<p>Considering that this is not the first baseline inserted in the assessment plan, you will inherit the other settings.<br>
    Keeping the baseline settings congruent between the assessment plan will ensure the possibility to compare
    all the collected data and to evaluate if the intervention had effect or not.
</p>