<h2>{% trans from "interface" %}help_question_what_are_other_event{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_what_are_other_event{% endtrans %}</p>

<h2>{% trans from "interface" %}help_answer_who_access_events{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_who_access_info{% endtrans %}</p>