<h2>{% trans from "interface" %}help_question_what_useful_for{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_school_info{% endtrans %}</p>
<h2>{% trans from "interface" %}help_question_who_access_school_info{% endtrans %}</h2>
<p>{% trans from "interface" %}help_answer_who_access_info{% endtrans %}</p>